
.vs/PC_OO_Talk/v15/Server/sqlite3/storage.ide-wal
.vs/PC_OO_Talk/v15/Server/sqlite3/storage.ide-shm
.vs/PC_OO_Talk/v15/Server/sqlite3/storage.ide
.vs/PC_OO_Talk/v15/Server/sqlite3/db.lock
.vs/PC_OO_Talk/v15/.suo
